# Challenge: Promotions

In this challenge, you'll develop codes to parse and analyze data returned from another API on Zalando such as [Promos homme (Men's Promotions)
](https://www.zalando.fr/promo-homme/) or [Promos femme (Women's Promotions)](https://www.zalando.fr/promo-femme/). The workflow is almost the same as in the guided lesson but you'll work with different data.

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

1. Examine the webpages and choose one that you want to work with.

1. Use Google Chrome's DevTools to inspect the XHR network requests. Find out the API endpoint that serves data to the webpage.

1. Test the API endpoint in the browser to verify its data.

1. Change the page number offset of the API URL to test if it's working.

In [1]:
# your code here
import json
import requests
import pandas as pd
from pandas.io.json import json_normalize

## Reading the data

In the next cell, use Python to obtain data from the API endpoint you chose in the previous step. Workflow:

1. Import libraries.

1. Define the initial API endpoint URL.

1. Make request to obtain data of the 1st page. Flatten the data and store it in an empty object variable.

1. Find out the total page count in the 1st page data.

1. Use a FOR loop to make requests for the additional pages from 2 to page count. Append the data of each additional page to the flatterned data object.

1. Print and review the data you obtained.

In [22]:
#Maneras de aplanar un json

#Esta funcion convierte en un diccionario con todos elementos de response.json
def flatten_json(y): #https://towardsdatascience.com/flattening-json-objects-in-python-f5343c794b10
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

#Alternativa usar esta libreria 
from flatten_json import flatten

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=0'
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36'}
response = requests.get(url, headers=headers)
flat_json = flatten(response.json())

#Pero cual es el sentido de aplanar el json? flatten retorna un diccionario lleno de parejas key values. Se carga todo lo anidado.
#Pero es muy dificil de leer y convertir en un DataFrame.
#En realidad el enunciado te esta pidiendo que uses un json_normalize()
#https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html

df1 = pd.json_normalize(response.json()['articles'])
df2 = pd.DataFrame(response.json()['articles'])

len(df1.columns) == len(df2.columns) #Retornan diferentes DataFrames

False

In [53]:
#Con la funcion DataFrame todos las keys del diccionario se convierten en columnas del dataframe
print(response.json()['articles'][0].keys()) #ammount y outfits faltan por que en el primer elemento no existen pero si lo estarán en otros
print(df2.columns)

dict_keys(['sku', 'name', 'price', 'sizes', 'url_key', 'media', 'brand_name', 'is_premium', 'family_articles', 'flags', 'tracking_information', 'product_group', 'delivery_promises'])
Index(['sku', 'name', 'price', 'sizes', 'url_key', 'media', 'brand_name',
       'is_premium', 'family_articles', 'flags', 'tracking_information',
       'product_group', 'delivery_promises', 'amount', 'outfits'],
      dtype='object')

In [50]:
response.json()['articles'][0]['product_group']

'clothing'

In [54]:
#La funcion json_normalize te desanida los niveles segun el parametro max_level. Si es igual a None los desanida todos. 
print(response.json()['articles'][0].keys())
print(df1.columns)

dict_keys(['sku', 'name', 'price', 'sizes', 'url_key', 'media', 'brand_name', 'is_premium', 'family_articles', 'flags', 'tracking_information', 'product_group', 'delivery_promises'])
Index(['sku', 'name', 'sizes', 'url_key', 'media', 'brand_name', 'is_premium',
       'family_articles', 'flags', 'product_group', 'delivery_promises',
       'price.original', 'price.promotional', 'price.has_different_prices',
       'price.has_different_original_prices',
       'price.has_different_promotional_prices',
       'price.has_discount_on_selected_sizes_only',
       'tracking_information.metrigo_impression_urls',
       'tracking_information.impression_beacon', 'tracking_information.source',
       'amount', 'outfits'],
      dtype='object')

In [57]:
print(response.json()['articles'][0]['price']) #Ej: price tiene 5 keys dentro suyo y crea una columna para cada una.

{'original': '54,95\xa0\xa0€',
 'promotional': '32,95\xa0\xa0€',
 'has_different_prices': False,
 'has_different_original_prices': False,
 'has_different_promotional_prices': False,
 'has_discount_on_selected_sizes_only': False}

In [2]:
# your code here
from time import sleep

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset=0'
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36'}
response = requests.get(url, headers=headers)

paginas_count = response.json()['pagination']['page_count'] #892 paginas totales con un offset de 84

url = 'https://www.zalando.fr/api/catalog/articles?categories=promo-homme&limit=84&offset='
df1 = pd.DataFrame()

for pagina in range(paginas_count): #Tarda 15minutos minimo
    sleep(1)
    response = requests.get(url+str(pagina*84), headers=headers)
    df2 = pd.json_normalize(response.json()['articles'])
    df1 = pd.concat([df1,df2])
    print(pagina)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891

In [62]:
df1.drop_duplicates(['sku'],inplace=True) #borramos los duplicados
df1.reset_index(drop=True,inplace=True) #reseteamos el indiceb

In [63]:
df1.set_index('sku',inplace=True)

## Bonus

Extract the following information from the data:

* The trending brand.

* The product(s) with the highest discount.

* The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).

In [65]:

# your code here
#The trending brand.
#df2.groupby('brand_name').count()[['name']].sort_values('name',ascending=False)

df1.groupby('brand_name').count()[['name']].sort_values('name',ascending=False)

                    name
brand_name
Pier One              20
Tommy Hilfiger        12
Levi's®                7
Lacoste                7
Nike Performance       6
Nike Sportswear        3
Timberland             3
DOCKERS                2
New Balance            2
Superdry               2
Kings Will Dream       2
Jack & Jones           2
adidas Originals       2
Pepe Jeans             1
Urban Classics         1
Vans                   1
Champion Rochester     1
New Era                1
Palladium              1
Only & Sons            1
Michael Kors           1
INDICODE JEANS         1
Guess                  1
G-Star                 1
Farah                  1
Ellesse                1
adidas Performance     1

In [68]:
#The product(s) with the highest discount. 
import re
df2['original_price'] = df2[['price']].apply( (lambda row:  float(re.search(r".*(?=\xa0\xa0)",row['price']['original']).group().replace(',','.')) ), axis=1)
df2['promotional_price'] = df2[['price']].apply( (lambda row:  float(re.search(r".*(?=\xa0\xa0)",row['price']['promotional']).group().replace(',','.')) ), axis=1)
df2['discount'] = df2['original_price'] - df2['promotional_price']

df2.sort_values('discount',ascending=False).head(1)

,sku,name,price,sizes,url_key,media,brand_name,is_premium,family_articles,flags,tracking_information,product_group,delivery_promises,amount,outfits,original_price,promotional_price,discount
1,GS122G0TC-K11,SCUTAR 3D SLIM TAPERED - Jeans fuselé - elto p...,"{'original': '149,95 €', 'promotional': '44,9...","[28x30, 28x32, 28x34, 29x30, 29x32, 29x34, 30x...",g-star-scutar-3d-slim-tapered-jeans-fusele-elt...,[{'path': 'spp-media-p1/617bf1c63dd23db18d915a...,G-Star,False,"[{'sku': 'GS122G0TC-K11', 'url_key': 'g-star-s...","[{'key': 'discountRate', 'value': 'Jusqu’à -70...",{'metrigo_impression_urls': ['https://ccp-et.a...,clothing,[],NaN,NaN,149.95,44.95,105.0

In [97]:
df1['price.original']= df1['price.original'].str.replace('\xa0\xa0€','').str.replace(',','.').astype(float)
df1['price.promotional']=df1['price.promotional'].str.replace('\xa0\xa0€','').str.replace(',','.').astype(float)
df1['discount'] = df1['price.original'] -df1['price.promotional']

df1.sort_values('discount',ascending=False).head(1)

,name,sizes,url_key,media,brand_name,is_premium,family_articles,flags,product_group,delivery_promises,...,price.has_different_prices,price.has_different_original_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,tracking_information.metrigo_impression_urls,tracking_information.impression_beacon,tracking_information.source,amount,outfits,discount
sku,,,,,,,,,,,,,,,,,,,,,
GS122G0TC-K11,SCUTAR 3D SLIM TAPERED - Jeans fuselé - elto p...,"[28x30, 28x32, 28x34, 29x30, 29x32, 29x34, 30x...",g-star-scutar-3d-slim-tapered-jeans-fusele-elt...,[{'path': 'spp-media-p1/617bf1c63dd23db18d915a...,G-Star,False,"[{'sku': 'GS122G0TC-K11', 'url_key': 'g-star-s...","[{'key': 'discountRate', 'value': 'Jusqu’à -70...",clothing,[],...,True,False,True,False,[https://ccp-et.adtechlab.zalan.do/event/sbv?z...,https://ccp-et.adtechlab.zalan.do/event/sbv?z=...,ccp,NaN,NaN,105.0

In [98]:
# The sum of discounts of all goods (sum_discounted_prices divided by sum_original_prices).
df1['price.promotional'].sum() / df1['price.original'].sum()

0.763237470755813

In [100]:
df1.groupby('brand_name')[['price.promotional','price.original']].sum()

                    price.promotional  price.original
brand_name
Champion Rochester              51.95           64.95
DOCKERS                        139.90          199.90
Ellesse                         23.95           29.95
Farah                           58.45           64.95
G-Star                          44.95          149.95
Guess                           28.01           45.00
INDICODE JEANS                  29.95           49.95
Jack & Jones                    55.98           79.98
Kings Will Dream                68.90          114.90
Lacoste                        304.65          389.65
Levi's®                        477.36          589.60
Michael Kors                    99.00          179.00
New Balance                    171.45          214.95
New Era                         17.95           19.95
Nike Performance               274.26          313.25
Nike Sportswear                185.90          204.90
Only & Sons                     31.99           39.99
Palladium                       55.95           69.95
Pepe Jeans                      16.25           25.00
Pier One                       434.65          526.80
Superdry                       108.48          154.98
Timberland                     293.90          409.90
Tommy Hilfiger                 670.40          854.40
Urban Classics                  37.49           49.99
Vans                            63.45           74.95
adidas Originals                61.40           79.90
adidas Performance              29.95           29.95

In [101]:
df1_disc = df1.groupby('brand_name')[['price.promotional','price.original']].sum()

df1_disc['brand_discount']=df1_disc['price.promotional']/df1_disc['price.original']

df1_disc.sort_values('brand_discount',ascending=True)

                    price.promotional  price.original  brand_discount
brand_name
G-Star                          44.95          149.95        0.299767
Michael Kors                    99.00          179.00        0.553073
INDICODE JEANS                  29.95           49.95        0.599600
Kings Will Dream                68.90          114.90        0.599652
Guess                           28.01           45.00        0.622444
Pepe Jeans                      16.25           25.00        0.650000
DOCKERS                        139.90          199.90        0.699850
Jack & Jones                    55.98           79.98        0.699925
Superdry                       108.48          154.98        0.699961
Timberland                     293.90          409.90        0.717004
Urban Classics                  37.49           49.99        0.749950
adidas Originals                61.40           79.90        0.768461
Lacoste                        304.65          389.65        0.781856
Tommy Hilfiger                 670.40          854.40        0.784644
New Balance                    171.45          214.95        0.797627
Ellesse                         23.95           29.95        0.799666
Champion Rochester              51.95           64.95        0.799846
Palladium                       55.95           69.95        0.799857
Only & Sons                     31.99           39.99        0.799950
Levi's®                        477.36          589.60        0.809634
Pier One                       434.65          526.80        0.825076
Vans                            63.45           74.95        0.846564
Nike Performance               274.26          313.25        0.875531
New Era                         17.95           19.95        0.899749
Farah                           58.45           64.95        0.899923
Nike Sportswear                185.90          204.90        0.907272
adidas Performance              29.95           29.95        1.000000